.container{
  
  min-height: 100vh;
  margin: 0;
  padding:0;
  text-align: center;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;


  

}


/* titulos #002434   */
/* Fondo #00feff */
/* Botones #00b4d5 */
/* Contenedores #007794 */
/* Titulo tabla #00485e */
/* Letras white */

