.title{
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,36,52,1) 19%, rgba(0,119,148,1) 100%);
     -webkit-background-clip: text; 
     background-clip: text;
    color: transparent; 
    font-size: 80px; 
    font-weight: bold; 
    font-family: Copperplate, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin:0;
  
  
}

.fondo{
  width: 100%;
  background-image: url('./../../14624.jpg'); 
  background-size: cover; 
  background-position:center;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  
  
  
}

.line{
  color: black;
  width: 100%;

}