.container {
    max-width: 600px; 
    margin: 50px 30px; 
    display: flex;
    flex-wrap: wrap;
    
  }

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc; 
  padding: 8px; 
  text-align: center; 
}

.table th {
    /* background-color: #8B0000;  */
    background-color: #4f717c;
  }