.container {
    max-width: 600px; 
    margin: 50px 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }

  .overlay {
    position: relative;
    background-color: transparent; /* Fondo transparente */
    transition: background-color 0.3s ease;
  }

.table {
    width: 500px;
    border-collapse: collapse;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
       
}

.table:hover {
  background-color: rgba(240, 240, 240, 0.181); /* Color de fondo semitransparente */
}



.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 500px;
  padding: 5px 10px;
  background-color: #002434;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0; 
  transition: opacity 0.6s ease;
  font-size: 40px;
}

.overlay:hover .button {
  opacity: 1;
}

.table th,
.table td {
  border: 1px solid black; 
  padding: 8px; 
  text-align: center; 
  background-color: white;
  color: black
}


.table th {
    /* background-color: #8B0000;  */
    background-color: #00485e;
    color:white
  }
